{% extends 'layout.html' %} {% block main %}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>留言列表</span></li>
</ol>
<h3>留言列表</h3>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th width="20%">留言昵称</th>
        <th width="20%">留言内容</th>
        <th width="20%">留言时间</th>
        <th width="10%">操作</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>{{ message.nickname }}</td>
        <td>{{ message.msg }}</td>
        <td>{{ message.time }}</td>
        <td>
            <a href="/admin/message/delete?id={{message._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
<!-- 页码 -->
<nav aria-label="...">
    <ul class="pager">
        <li class="previous">
            <a href="/admin/message?page={{page-1}}"
                ><span aria-hidden="true">&larr;</span> 上一页</a
            >
        </li>

        <li>
            当前一共有 {{count}} 条数据，每页显示 {{limit}} 条数据， 一共 {{pages}} 页，当前第 {{page}} 页
        </li>

        <li class="next">
            <a href="/admin/message?page={{page+1}}"
                >下一页 <span aria-hidden="true">&rarr;</span></a
            >
        </li>
    </ul>
</nav>

{% endblock %}