<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/public/images/smiley.gif">
        <title>欢迎进入后台管理!</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" />
        <script src="/public/js/jQuery.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>O(∩_∩)O~抱歉, 你不是管理员~~</h1>
                <p>只有管理员才能进入后台管理哦~~</p>
            </div>
        </div>
    </body>
</html>
