{% extends 'layout.html' %}
{% block main %}
<!-- article区域-左侧--部分 -->
<div class="leftBox fl clearfix">

    <!-- 日志部分 -->
    <div class="rizhi boxshaw clearfix">
        <div class="biaoqian">
            <span>努力</span>
            <span>旅游</span>
            <span>学习</span>
            <span>心情</span>
            <span>成长</span>
        </div>
        <h3><a href="/notes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dolorem?</a></h3>
        <div class="rz-img clearfix">
            <ul>
                <li><img src="/public/images/demo1.png"></li>
                <li><img src="/public/images/demo2.jpg"></li>
                <li><img src="/public/images/demo3.jpg"></li>
                <li><img src="/public/images/demo4.jpg"></li>
                <li><img src="/public/images/demo5.jpg"></li>
                <li><img src="/public/images/demo6.jpg"></li>
                <li><img src="/public/images/demo7.jpg"></li>
                <li><img src="/public/images/demo8.jpeg"></li>
            </ul>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatibus e
            a quo dicta eaque omnis dolore explicabo accusamus debitis natus sunt
            harum, impedit ex reiciendis delectus quas praesentium... </p>
        <div class="author">
            <img src="/public/images/lk.jpg" alt="">
            <div class="auth">
                <span>Melikui</span>
                <span><svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-rizhi2"></use>
                  </svg>&nbsp;成长</span>
                <span><svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-biji7"></use>
                  </svg>&nbsp;2020-05-10</span>
                <span><svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-watched"></use>
                  </svg>&nbsp;666</span>
            </div>
        </div>

    </div>

</div>
<!-- article区域--右侧--部分 -->
<div class="rightBox boxshaw fr">

    

    <div class="recommend clearfix">
        <!-- 列表笔记 -->
        <h3>
            <span>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-ding"></use>
                </svg>
            </span>
            <i>博客列表</i>
        </h3>
        <ul>
            <li><a href="#">微信分享链接出现config:invalid signature</a></li>
            <li><a href="#">微信转发或分享朋友圈带缩略图、标题和描述</a></li>
            <li><a href="#">阿里云ECS服务器无法链接FTP之端口设置方法</a></li>
            <li><a href="#">静态页面实现微信分享带缩略图、标题和描述</a></li>
            <li><a href="#">Discuz！论坛上传头像提示“Access denied</a></li>
            <li><a href="#">IIS7、IIS8伪静态和301重定向文件web.confi</a></li>
            <li><a href="#">使用Loader-Helper安装sdfad fsd f安装Swoole</a></li>
            <li><a href="#">上传文件提示413 Request Entity Too Large</a></li>
            <li><a href="#">使用Loader-Helper安装sdfad fsd f安装Swoole</a></li>
            <li><a href="#">如何用.htaccess文件实现index.html跳</a></li>
        </ul>
        <!-- 资源推荐 -->
    </div>


</div>
{% endblock %}